@inject Microsoft.AspNetCore.Identity.SignInManager<AppointmentScheduler.Models.ApplicationUser> signInManager
@if (signInManager.IsSignedIn(User))
{
    <form method="POST" id="logoutForm" asp-action="Logoff" asp-controller="Account">
        <ul class="nav navbar-nav">
            <li class=" nav-link text-white">Hello, @User.Identity.Name!</li>
            <li>
                <a class="nav-link text-white">Log off</a>
            </li>
        </ul>

    </form>
}
else
{
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-white" id="registerLink" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li>
            <a class="nav-link text-white" id="loginLink" asp-controller="Account" asp-action="Login">Sign In</a>
        </li>
    </ul>
}